@import '../abstract/mixins';

.card {
  height: 75vh;
  width: 40vw;
  @include respond(tab-land) {
    width: 50vw;
  }
  @include respond(tab-port) {
    width: 60vw;
  }
  @include respond(phone) {
    width: 90vw;
  }
  background-color: white;
  border-radius: 4px;
}